


body{
	background: #111314;
	color: #dfe0e1;
	font-family: Arial, Helvetica;
	font-size:8pt;
}

#nodes li{
	float:left;
	width:300px;
	list-style-type:none;

	background:#232526;
	border: solid 1px #171819;

	margin:20px;
}

.node-name{
	width:100%;
	border-bottom: solid 1px #1f2021;
	font-size: 10pt;
	color: #5f6669;

	padding: 4px;
	margin-bottom: 10px;
}

.label{
	color: #4f5153;
	width:40px;
	display: block;
	float:left;
}
.value{
	float:left;
}

.section{
	padding: 4px;
	clear:both;
}

.cpu-value{
	font-size: 18pt;
	color: #dddedf;
}
.job-value{
	font-size: 10pt;
	color: #dddedf;

}

















#templates{
	display: none;
}
