a{
	color:#FF711C;
}
a:hover{
	color:#ff8b0f;;
}

body{
	background: #000000;
	color: #dfe0e1;
	font-family: Arial, Helvetica;
	font-size:8pt;
	padding:16px;
}

ul{
	padding:0;
}
li{
	list-style-type:none;

}

h1{
	font-size:32pt;
	margin: 8px;
}
h2{
	padding:6px;
	padding-bottom: 0;
	margin-bottom: 0;
}


th{
	text-align:right;
	vertical-align: top;
	padding:6px;
}
td{
	text-align:left;
	vertical-align: top;
	padding:6px;
	padding-top:0;
}

.column{
	background: #111314;
	width:31%;
	float:left;
	margin:1%;
	list-style-type:none;
	border: solid 1px #212223;

}
#log-holder{
	background: #111314;
	margin:1%;
	height: 200px;
	overflow-y: scroll;
	border: solid 1px #212223;
}


#nodes{
	background:#FF0000;
	padding:0;
}

#nodes li, #jobs li{
	float:left;
	width:90%;
	list-style-type:none;

	background:#232526;
	border: solid 1px #2e2f30;

	margin:5%;
	margin-bottom:3%;
	margin-top:1%;
}

#log-holder{

}

.name{
	border-bottom: solid 1px #2e2f30;
	font-size: 12pt;
	color: #A8A8A8;
	margin-top: 0;
	padding: 4px;
	margin-bottom: 4px;
	text-align:right;
	clear:both;
}

.label, th{
	color: #4f5153;
	width:72px;
	display: block;
	float:left;
	padding-top:3px;
	font-weight:normal;
}
.value{
	float:left;
	font-size: 12pt;
	color: #dddedf;
	font-weight:bold;
}
.small-value{
	float:left;
	font-size: 10pt;
	color: #dddedf;
	font-weight:bold;
	margin-top:1px;
}


.section{
	padding: 4px;
	clear:both;
}

.cpu-value{
	font-size: 18pt;
	color: #dddedf;
}
.job-value{
	font-size: 10pt;
	color: #dddedf;

}

button{
	font-weight:bold;
	display:block;
	
}

button.step{

	font-weight:bold;
	margin-left:120px;
	color:#000000;
}

.cancel-holder {
	height:1px;
	text-align:right;
}
button.cancel{
	margin-top: 8px;
}

input {
	border: solid 1px #c0c0c0;
	background: #ffffff;
	font-size: 16pt;
	width:100%;
}

button, div.qq-upload-button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #c0c0c0;
	display:inline-block;
	color:#666666;
	font-size:12px;
	font-weight:normal;
	padding:5px 15px;
	text-decoration:none;
	cursor:pointer;
	
}
button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
button:active {
	position:relative;
	top:1px;
}

input,select {
	border: solid 1px #c0c0c0;
	background: #ffffff;
	font-size: 12pt;
	padding:4px;
	width:100%;
}

.qq-upload-fail .qq-upload-failed-text{
	display:none;
}


ul.workunits{

}

#jobs li.workunit, #nodes li.workunit{
	border:none;
	padding:2px;
	margin:0px;
	padding-top:0px;
	border-bottom: solid 1px #2e2f30;

}

li.workunit div.section{
	padding-top:0;
}

#jobs li.file {
	margin:0px;
	width:;
	border: none;
	border-bottom: solid 1px #2e2f30;

}

.file-filename{
	display: block;
	padding-left:80px;
}

#templates{
	display: none;
}

img.job-status-led{
	position:absolute;
	margin-top:-33px;
}
img.unit-status-led{
	position:absolute;
	width:16px;
	margin-top:9px;
	margin-left: 6px;	

}
img.node-status-led{
	position:absolute;
	margin-top:-33px;
}

li.workunit div.section{
	padding-left:32px;
}


ul.steps li{
	float:left;
	font-size:10pt;
	font-weight:bold;
	color:#4F5153;
	width: 140px;
}
ul.steps li.highlighted{
	color:#4F5153;
	font-size:10pt;
	color:white;
}

ul.steps {
	height:32px;
	margin-left:32px;
}

div.cpu-chart{
	width: 120px;
	padding:4px;
	padding-left:3px;
	height: 30px;
	background: #111;
	float: right;
	margin-top: -26px;
	margin-right: 4px;
	border: solid 1px #2E2F30;
}


div.cpu-chart div.bar{
	margin-top: 29px;
	height: 1px;
	width: 1px;
	background: #0c73ff;
	margin-left:1px;
	float:left;
}


ul#log li{
	font-size: 11px;
	color: #868788;
	padding-left: 6px;
	padding-bottom: 2px;
	padding-top: 2px;
	border-bottom: solid 1px #212223;

}
